:root {
  --contents-color: #40514e;
  --bg-color: #ffffff;
  --bg-tone-color: #f4f4f4;
  --theme-color: #66bfbf;
  --pale-theme-color: #ddebf0;
  --contrasting-theme-color: #eaf6f6;
  --accent-color: #129ca1;
  --linked-color: #27a2ba;
  --rich-highlighted-color: #31e8d0;
  --light-highlighted-color: #f2ffff;
  --muted-color: #c8dcde;
}
