/* Fade-in effect
------------------------------------- */
.disappeared {
  opacity: 0;
}

.show-off {
  opacity: 1;
  transition: opacity 0.2s ease-out 0.3s;
}


/* Element Style
------------------------------------- */
body {
  color: var(--contents-color);
  background-color: var(--theme-color);
  font-family: "Merriweather", serif;
  text-align: center;
  margin: 0;
}

h1 {
  color: var(--theme-color);
  font-family: "Clicker Script", cursive;
}

h2 {
  color: var(--theme-color);
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 0.8em;
}

h4, h5, h6 {
  color: var(--accent-color);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.5em;
}

p {
  line-height: 2;
}

ul {
  margin-bottom: 2em;
}

a {
  color: var(--linked-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: var(--rich-highlighted-color);
  text-decoration-line: underline;
  text-decoration-thickness: 0.11em;
  text-underline-offset: 0.3em;
}

section:target::before {
  content: "";
  display: block;
  height: 50px;
  margin-top: -50px;
}


/* Common Section Style
------------------------------------- */
.white-section {
  background-color: var(--bg-color);
}

.colored-section {
  background-color: var(--theme-color);
}

.container-fluid {
  padding: 4% 5% 6%;
}

.container {
  width: auto;
  max-width: 768px;
  margin: auto;
  text-align: start;
}

.heading-line {
  position: relative;
  padding-bottom: 0.2em;
  border-bottom: solid 1px var(--pale-theme-color);
}

.heading-line::before, .heading-line::after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  bottom: -1.5px;
}

.heading-line::before {
  background-color: var(--bg-tone-color);
  width: 35%;
  height: 50%;
  transform: matrix(1, 0, -0.8, 1, 0, 0);
}

.heading-line::after {
  background-color: var(--pale-theme-color);
  width: 32%;
  height: 25%;
  transform: matrix(1, 0, -0.8, 1, 2, 0);
}


/* Navigation Bar Section
------------------------------------- */
.navbar {
  background-color: var(--theme-color);
  padding: 0.7em;
}

.brand-name {
  color: var(--contrasting-theme-color);
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0.2em;
}

.brand-name:hover {
  color: var(--light-highlighted-color);
  text-decoration: none;
}

.logo {
  fill: var(--contrasting-theme-color);
  display: inline-block;
  width: 25px;
  height: 25px;
}

/* JS fills the logo in color by detecting the brand name behavior. */
.fill-highlight {
  fill: var(--light-highlighted-color);
}

.navbar-toggler {
  color: rgba(0, 0, 0, 0.1);
  padding: 12px;
  border-color: rgba(0, 0, 0, 0.3);
  border-radius: 8%;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  background-color: var(--accent-color);
}

.icon-bar {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  width: 16px;
  height: 2px;
  border-radius: 1px;
}

.icon-bar +.icon-bar {
  margin-top: 4px;
}

.nav-link {
  color: var(--contrasting-theme-color);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--light-highlighted-color);
}

/* JS controls nav-item's padding. */
.horizontal-padding {
  padding: 0 0.5em;
}

/* JS converts Top Bar style into Dropdown Menu style. */
.dropdown-menu {
  right: 2px;
  top: 3.7em;
  left: auto;
}

.dropdown-item {
  font-weight: bold;
  padding: 0.5em 1em;
}


/* Hero Section
------------------------------------- */
#hero .container-fluid {
  position: relative;
  padding: 8% 0 3%;
}

#hero .container {
  position: relative;
  text-align: center;
  margin: 50px auto;
}

.hero-title {
  display: flex;
  justify-content: center;
  padding-left: 5%;
}

.kingfisher {
  width: 7%;
  max-width: 50px;
  min-width: 25px;
  height: auto;
  align-self: start;
  position: relative; /* For Stacking Order */
}

.top-cloud {
  width: 16%;
  height: auto;
  position: absolute;
  right: 5%;
}

.bottom-cloud {
  width: 16%;
  height: auto;
  position: absolute;
  left: 5%;
}

.svg-nature {
  position: relative;
}

.mountain-polygon {
  fill: var(--contrasting-theme-color);
  position: relative;
  top: 5px;
}

.meadow {
  fill: var(--muted-color);
}

.flamingo {
  width: 13%;
  max-width: 140px;
  height: auto;
  position: absolute;
  left: 15%;
  bottom: 15%;
}

.fox {
  width: 9%;
  max-width: 90px;
  height: auto;
  position: absolute;
  left: 28%;
  bottom: 15%;
}

.giraffe {
  width: 23%;
  max-width: 300px;
  height: auto;
  position: absolute;
  right: 15%;
  bottom: 10%;
}


/* Profile Section
------------------------------------- */
.flex-box {
  display: flex;
  justify-content: space-between;
  padding-right: 4%;
  margin-bottom: 4em;
}

.my-name {
  margin-bottom: 0.1em;
}

.avatar {
  align-self: flex-start;
  max-width: 130px;
  height: auto;
  border-radius: 50%;
  border: solid 0.1em var(--theme-color);
}


/* Skills Section
------------------------------------- */
.skills-column {
  list-style: none;
  padding-left: 0;
}

.skills-column li {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-column li:nth-child(even) {
  background-color: var(--bg-tone-color);
}

.ability-name {
  display: inline-block;
  width: 55%;
}

.ability-score {
  color: var(--pale-theme-color);
  align-self: center;
}

.filled-star {
  color: var(--accent-color);
}


/* Works & Projects Common Section
------------------------------------- */
.card {
  text-align: center;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.075);
}

.card:hover {
  outline: solid 0.17em var(--rich-highlighted-color);
}

.card a {
  display: block;
  text-decoration: none;
}

.card-nav {
  color: var(--linked-color);
  margin: 2% 0 0;
}

.card-url {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.7rem;
}


/* Posts Section
------------------------------------- */
#posts li {
  margin-bottom: 0.5em;
}

.twitter-timeline {
  margin: auto;
}


/* Social Media Section
------------------------------------- */
#social-media ul {
  list-style: none;
  padding-left: 0.2em;
}

#social-media li {
  margin-bottom: 1em;
}


/* Footer Area
------------------------------------- */
.footer-container {
  padding: 1.5% 0 1.8%;
}

.copy-right {
  color: var(--contrasting-theme-color);
  font-size: 0.75rem;
  margin: auto;
}


/* Media Queries
 ------------------------------------- */
@media (max-width: 767px) {
  .container-fluid {
    padding: 6% 5% 8%;
  }

  .flex-box {
    flex-direction: column;
  }

  .avatar {
    align-self: end;
    width: 25%;
    min-width: 80px;
  }
}

@media (max-width: 320px) {
  .heading-line::before {
    width: 22%;
  }

  .heading-line::after {
    width: 19%;
  }
}

@media (max-width: 214px) {
  #hero .container-fluid {
    padding: 24% 0 3%;
  }
}